<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/63503fd3823762323d600de6_favicon.ico"
        rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" defer></script>
    <title>Codewars - Achieve mastery through coding practice and developer mentorship</title>
</head>

<body>
    <nav>
        <div class="nav-left">
            <div class="icon">
                <img src="https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/632615af0bde3512ecfb2718_codewars-logo.svg"
                    alt="">
            </div>

            <ul class="menu">
                <li><a href="#">Blog</a></li>
                <li><a href="#">For Educators</a></li>
                <li><a href="#">For Companies</a></li>
            </ul>
        </div>


        <div class="btns">
            <button>Log in</button>
            <button class="join">Join</button>
        </div>
    </nav>


    <!-- hero section -->


    <div class="hero">
        <div class="hero-texts">
            <h1><span>Achieve mastery</span> <br> through challenge</h1>
            <p>Improve your development skills by training with your peers on code kata that continuously challenge and
                push your coding practice.</p>
        </div>

        <button class="get-started">Get Started</button>
    </div>

    <br><br><br>


    <!-- hero section -->


    <section class="sec-1">
        <div class="sec-1-txt">
            <span>{ }</span>
            <h1>Sharpen your coding skills</h1>
            <p>Challenge yourself on small coding exercises called "kata". Each kata is crafted by the community to help
                you strengthen different coding techniques. Master your current language of choice, or quickly pick up
                any of the 55+ programming languages supported.</p>

                <br>
                <a href="#">Join the Dojo</a>
        </div>
        <div class="sec-1-img">
            <img src="https://code.visualstudio.com/assets/docs/languages/typescript/overview.png" alt="">
        </div>
    </section>


    <br><br><br>
</body>

</html>