<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Codewars - Achieve mastery through coding practice and developer mentorship</title>
</head>

<body>
    <nav>
        <div class="nav-left">
            <div class="icon">
                <img src="https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/632615af0bde3512ecfb2718_codewars-logo.svg"
                    alt="">
            </div>

            <ul class="menu">
                <li><a href="#">Blog</a></li>
                <li><a href="#">For Educators</a></li>
                <li><a href="#">For Companies</a></li>
            </ul>
        </div>


        <div class="btns">
            <button>Log in</button>
            <button class="join">Join</button>
        </div>
    </nav>


    <!-- hero section -->


    <div class="hero">
        
    </div>


    <!-- hero section -->
</body>

</html>